@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header_bg {
    background-color: #F2CEDA;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.item_list {
    list-style-type: none;
}

.item_link {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #150101;
    text-decoration: none;
    transition: .5s;
}

.item_link:hover {
    color: #D23166;
    transition: .5s;
}

.header_btn {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background: #D23166;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .5s;
}

.header_btn:hover {
    background-color: transparent;
    color: #D23166;
    border-color: #D23166;
    transition: .5s;
}

.bi-list {
    display: none;
    font-size: 25px;
}

.sidebar {
    width: 50%;
    height: 100vh;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -50%;
    transition: .5s;
}

.sidebar_elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar_img {
    width: 65px;
}

.bi-x-lg {
    font-size: 25px;
}

p {
    position: absolute;
    color: white;
    margin-top: 100px;
    margin-left: 10px;
    text-decoration: none;
    display: block;
}

.q1 {
    position: absolute;
    margin-top: 150px;
}

.q2 {
    position: absolute;
    margin-top: 200px;
}

.q3 {
    position: absolute;
    margin-top: 250px;
}

.q4 {
    position: absolute;
    margin-top: 300px;
}

.sidebar_btn {
    width: 140px;
    height: 49px;
    border-radius: 5px;
    background: #D23166;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    margin-top: 400px;
    position: absolute;
    color: white;
    border: none;
}
.sidebar_btn:hover {
    background-color: transparent;
    color: #D23166;
    border-color: #D23166;
    transition: .5s;
    border: 1px solid #D23166;
}
@media only screen and (max-width:765px) {
    .header {
        padding: 0px 0px;
    }

    .item {
        gap: 25px;
    }

    .header_btn {
        width: 100px;
        height: 35px;
        font-size: 12px;
        line-height: 20px;

    }

    .header_logo {
        width: 60px;
    }
}

@media only screen and (max-width:620px) {
    .header_btn {
        display: none;
    }

    .navbar {
        display: none;
    }

    .bi-list {
        display: block;
    }
}

@media only screen and (max-width:400px) {
    .container {
        padding: 0px 10px;
    }
}